doctype html
html(lang="en")
    head
        title “Stainless”
        link(href="/assets/css/main.css", rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-zoom=1")
    body
        section#top-home-section.top-section.color-a
            #top-home-image
                img#headshot(src="/assets/images/hex.png")
            #top-title
                img(src="/assets/images/stainless.png", alt="Stainless")
            h3#top-subtitle.large-font
                | A microsite about things done by&nbsp;
                a.highlight(href="http://russellhay.com/") Russell Hay
            a(href="#parkour-section")
                button.top-button#parkour parkour
            a(href="#control-section")
                button.top-button#control control
            a(href="#installations-section")
                button.top-button#installations installations
            a(href="#about-section")
                button.top-button#about who?

        section#parkour-section.middle-section.color-c
            header
                h1.title
                    a(name="rel_pos_size") Parkour
                h2.subtitle
                    | lights that react to your motion
                .content
                    hr
                    .step
                        | something something

        section#control-section.middle-section.color-b
            header
                h1.title
                    a(name="rel_pos_size") Give Up Your Control
                h2.subtitle
                    | internet control of your installations

                .content
                    hr
                    | Something something

        section#installations-section.middle-section.color-d
            header
                h1.title
                    a(name="rel_pos_size") Installations
                h2.subtitle
                    | My Art Installation Contributions

                .content
                    hr

        section#about-section.bottom-section.color-a
            header
                h1.title
                    a(name="rel_pos_size") Who?

                .content
                    hr
                    | I'm a bunch of nouns, but mostly, I make silly things. When not slaving away at code,
                    | I jump on and swing from things, and generally incite productive mayhem.
        script
            | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            | (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            | ga('create', 'UA-514101-28', 'auto');
            | ga('send', 'pageview');
        script(src="/assets/app.js")
