.middle-section, .bottom-section
  padding-top: 50px

@media screen and (max-width: 320px)
  #top-subtitle
    max-width: 200px

@media screen and (max-height: 640px) and (min-height: 481px)
  #top-home-section
    min-height: 100vh
    padding-top: 20vh
